h1 {
    color: white;
    text-align: center;
}

.home-btn-container {
    padding: 30px;
    color: white;
    /* background-color: blanchedalmond; */
}
.home-btn-container button {
    padding: 10px;
    font-size: 1.5rem;
}


.btnHome:hover{
    background-color: rgb(110, 110, 110);
}
.home-screen button {
    width: 32%;
   
}
.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

html{
    background-color: rgb(53, 53, 53);
    
}

button {
    display: block;
margin-top: 5px;
margin-bottom: 10px;
padding: 15px;
background-color: rgba(189, 189, 189, 0);
color: rgb(255, 255, 255);
cursor: pointer;
width: 26%;
border-radius: 20px;}



.green {
    background-color: rgba(2, 107, 2, 0.384);
    box-shadow: inset 5px 5px 10px rgb(2, 107, 2);
    border: 1px solid rgba(0, 128, 0, 0.712);
}
.green:hover {
    background-color: green;
    
}


.yellow{
    background-color: rgba(126, 126, 0, 0.384);
    box-shadow: inset 5px 5px 10px rgb(126, 126, 0);
    border: 1px solid rgba(255, 255, 0, 0.473);
}
.yellow:hover{
    background-color: rgba(255, 255, 0, 0.63);
}


.red{
   
    background-color: rgba(105, 3, 3, 0.281);
    box-shadow: inset 5px 5px 10px rgba(255, 0, 0, 0.979);
    border: 1px solid rgba(255, 0, 0, 0.719);
}
.red:hover{
    background-color: rgba(255, 0, 0, 0.658);
}

.main { display: flex;
flex-wrap: wrap;
justify-content: space-evenly;}



