html{
    background-color: #272640;  
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.25rem;
    margin-left: 10%;
    margin-right: 10%;
    
}

body {
    margin: 0px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}


.home-btn-container {
    color: white;  
    display: flex;
    justify-content: center;
    align-items: center;   
}

.color-info{
    color: white;
    font-size: 0.8rem;
    text-align: center;
    
}

.home-btn-container button {
    padding: 10px;
    font-size: 1.5rem;
    color: rgb(236, 224, 255);
    background-color: #201D34;
    border-radius: 20px 0px;
    border: solid 1px #201D34;
}


.btnHome:hover{
    color: white;
    background-color: #181627;
    border: solid 1px #181627;
}

.home-screen button {
    width: 32%;
    border-radius: 20px 0px;   
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}


button {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(189, 189, 189, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 26%;
    border-radius: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.green {
    background-color: #006466;
    border: 1px solid #006466;
}

.green:hover {
    background-color: #00646600;
    font-weight: 500; 
}

.yellow{
    background-color: #E3B5A4;
    border: 1px solid #E3B5A4;
    color: black;
}

.yellow:hover{
    background-color: #e3b5a400;
    color: white;
    font-weight: 500;
}


.red{
    background-color: #D44D5C;
    border: 1px solid #D44D5C;
}
.red:hover{
    background-color: #9b9b9b;
    border: 1px solid #3a3a3a;
}

.blue{
    background-color: #64B6AC;
    border: 1px solid #64B6AC;
}
.blue:hover {
    background-color: #64b6ac00;
    font-weight: 500;
}

.main { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
}

.print{
    text-align: center;
    color: white;
}
.print .infobox {
    padding: 20px;
    display: block;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center; 
}

.infobox {
    background-color: #9c98af;
    padding: 20px;
    display: block;
    width: 60%;
    text-align: center; 
}

.another{
    display: block;
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #D44D5C;
    border: none;
    margin-top: 0px;
    font-size: 1rem;
    
}

.artBtn {
    display: block;
    margin-top: 5px;
    /* margin-bottom: 10px; */
    padding: 15px;
    /* background-color: rgba(189, 189, 189, 0); */
    background-color: #2599bd;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 13.5%;
    border-radius: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    border: solid 1px #2599bd;

}
.artBtn:hover {
    background-color: #19667e;
    border: solid 1px #19667e;

}







@media only screen and (max-width: 600px) {
    html{
        font-size: 0.8rem;
        
    }

    .home-screen button {
        width: 46%;
        border-radius: 20px 0px;   
    }

    button {
        display: block;
        margin-top: 2.5px;
        margin-bottom: 10px;
        padding: 1.5px;
        background-color: rgba(189, 189, 189, 0);
        color: rgb(255, 255, 255);
        cursor: pointer;
        width: 46%;
        border-radius: 20px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

}


